{% extends 'base.html.twig' %}

{% block title %}Update Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="d-block ">
        {{ form_start(form) }}
        {{ form_row(form.name,{'label':'Name','attr':{ 'placeholder':'Name' }})}}
        {{ form_row(form.lastname,{'label':'Lastname','attr':{ 'placeholder':'Lastname' }})}}
        {{ form_row(form.email,{'label':'Email','attr':{ 'placeholder':'Name' }})}}
        {{ form_row(form.username,{'label':'Username','attr':{ 'placeholder':'Username' }})}}
        {{ form_row(form.phone,{'label':'Phone Number','attr':{ 'placeholder':'Ton 06 Wsh' }})}}
        <button type="submit"  class="btn btn-outline-success" >Modifier</button>
        {{ form_end(form) }}
        <a href={{ path("profil_update_password") }}>Modifies ton password</a>
    </div>
</div>
{% endblock %}
