{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container">
        <div class="card mx-auto col-8 mt-4 border-primary">
             <h1 class="mx-auto card-header mt-2 border-bottom border-primary rounded">Profil</h1>
             <img src={{ User.profilPhoto.link }}>

                <div class="mx-auto my-5">
                    <div class="d-block">
                        <label class="d-inline">Name :</label>
                        <p class="d-inline"> {{ User.name }}  </p>
                        <label class="ml-5">Lastname :</label>
                        <p class="d-inline">{{ User.lastname }}</p>
                    </div>
                    <div class="d-block mt-3">
                         <label class="d-inline-block">Username :</label>
                         <p class="d-inline">{{ User.username }}</p>
                    </div>
                    <div class="d-block mt-3">
                         <label class="d-inline">Email :</label>
                         <p class="d-inline"> {{ User.email }}</p>
                    </div>
                    <div class="d-block mt-3">
                        <label class="d-inline">Tel :</label>
                        <p class="d-inline">{{ User.phone }}</p>
                    </div>
                </div>

            {% if app.user and IsMyProfile%}
                <a class="mx-auto p-2 mb-4 btn btn-outline-primary" href={{ path( "profil_update") }}> Modifier </a>
            {% endif %}

        </div>
</div>
{% endblock %}
